/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Mulish:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #575767;
    transition: all 0.3s;
    border-right: 2px solid #AAAAAA;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    border-bottom: 2px solid #AAAAAA;
}

#sidebar .sidebar-header h3{
    font-family: Mulish;
    font-style: italic;
    font-weight: bold;
  }

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar p {
    vertical-align: middle;
    text-align: center;
    color: #575767;
    padding: 10px;
}

#sidebar ul {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #575767;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #575767;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: #575767;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


#sidebarIcon {
    width: 50px;
    position: fixed;
    top: 0%;
    left: 250px;
    min-height: 100vh;
    height: 100%;
    z-index: 998;
    color: #575767;
    transition: all 0.3s;
    font-size: 10vh;
    padding: 40vh 0 0 0;
    font-family: 'Poppins', sans-serif;
}

#sidebarIcon.active {
    margin-left: -250px;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px 40px 40px 70px;
    min-height: 100vh;
    height: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    RAPID LOG STYLE
----------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

.loggingNavbar {
    display: flex;
    justify-content: space-between;
}
.logNavInfo h1 {
    font-weight: 600;
    font-size: min(40px, 3vw);
    line-height: 16px;
    margin-bottom: 20px;
}
.logNavInfo span {
    font-size: min(25px, 2vw);
    line-height: min(25px, 2vw);
    font-weight: 300;
}
.logNavBtn button {
    width: 90%;
    height: 100%;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    background: #6a6dcd;
    color: #fff;
    font-style: italic;
    cursor: pointer;
    transition: .3s;
}
.allTaskWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bxSingle {
    width: 48%;
    height: 420px;
    background: #f2f2f2;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    padding-top: 20px;
}
.bxSingle span {
    width: 100%;
    padding: 0 30px;
    font-size: 13px;
    cursor: pointer;
}

.bxSingle h1 {
    font-family: Mulish;
    font-style: italic;
    font-weight: normal;
    font-size: min(25px, 4vw);
    line-height: min(25px, 4vw);
    margin-bottom: 20px;
}
.taskUl {
    width: 90%;
    height: 75%;
    overflow-y: scroll;
}
.taskUl::-webkit-scrollbar {
    width: 5px;
}
.taskUl::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.taskUl::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}
.taskUl::-webkit-scrollbar-thumb:hover {
    background: #000;
}
li.taskLi {
    padding: 17px;
    padding-right: 50px;
    width: 90%;
    border-radius: 10px;
    color: #fff;
    background: rgb(106, 109, 205);
    height: auto;
    word-break: break-word;
    list-style: none;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 13px;
    font-style: italic;
    position: relative;
}
li.taskLi:last-child {
    margin-bottom: 0;
}

.eventUl {
    width: 90%;
    height: 75%;
    overflow-y: scroll;
}
.eventUl::-webkit-scrollbar {
    width: 5px;
}
.eventUl::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.eventUl::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}
.eventUl::-webkit-scrollbar-thumb:hover {
    background: #000;
}
li.eventLi {
    padding: 17px;
    padding-right: 50px;
    width: 90%;
    border-radius: 10px;
    color: #fff;
    background: rgb(106, 109, 205);
    height: auto;
    word-break: break-word;
    list-style: none;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 13px;
    font-style: italic;
    position: relative;
}
li.eventLi:last-child {
    margin-bottom: 0;
}

.noteBx {
    width: 100%;
    align-items: unset;
    padding: 20px;
}

ul.noteUl {
    height: 80%;
    overflow-y: scroll;
    width: 100%;
}
.noteUl span {
    padding: 0 18px !important;
}
li.noteLi {
    padding: 8px 20px;
    padding-right: 40px;
    margin-bottom: 10px;
    word-break: break-word;
    height: auto;
    list-style: inside;
    font-style: italic;
    position: relative;
}
li.noteLi:last-child {
    margin-bottom: 0;
}
.noteUl::-webkit-scrollbar {
    width: 5px;
}
.noteUl::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.noteUl::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}
.noteUl::-webkit-scrollbar-thumb:hover {
    background: #000;
}


.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}
   
.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:95%;
    max-width:500px;
    height:250px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
   
.popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}
   
.popup.active .overlay {
    display:block;
  }
   
.popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    position: fixed;
}
.content h1 {
    margin-bottom: 50px;
}

.mainInput {
    background: #e7e7e7;
    border: none;
    width: 300px;
    height: 40px;
    outline: none;
    font-size: 20px;
    padding: 0 5px;
}
.addBtn {
    width: 65px;
    height: 40px;
    background: #000;
    color: #fff;
    border: none;
}
.mainInpWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.item_input {
    background: transparent;
    border: none;
    color: #fff;
    font-style: italic;
}




.deleteOption {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
}
.noteDelete {
    right: 0;
    top: 13px;
}


@media (max-width:640px){
    .loggingNavbar {
        padding-top: 0;
    }
    .logNavBtn {
        display: flex;
        flex-direction: column;
    }
    .logNavBtn button {
        margin: 4px 5px;
        height: 35px;
    }
}

@media (max-width:370px){
    .loggingNavbar {
        padding: 0;
    }
}
@media (max-width:360px){
    .taskUl {
        width: 96%;
    }
    .taskUl li {
        width: 100%;
    }
    .eventUl {
        width: 95%;
    }
    .eventUl li {
        width: 100%;
    }
    .bxSingle {
        margin: 30px 20px;
    }
}
   
@media (max-width:300px){
    .bxSingle {
        margin: 30px 0;
    }
    .mainInput {
        width: 85%;
    }
    .popup .overlay {
        width: 100%;
        height: 100%;
    }
}
