body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}


.row-striped:nth-of-type(odd){
background-color: #F2F2F2;
overflow: scroll;
}

.row-striped:nth-of-type(even){
background-color: #F2F2F2;
overflow: scroll;
}

.row-striped {
  padding: 15px 0;
  height: 100px;
}

.text-uppercase{
  color: black;
}

.list-inline-item {
  color: black;
}

p{
  color: black;
}

.title-uppercase{
  color: black;
  text-align: center;
  background-color: #efefef;
}

.rarrow {
border: solid #C3CBCD;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 10px;
margin: 5px;
margin-left: 200px;
}

.larrow {
border: solid #C3CBCD;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 10px;
margin: 5px;
margin-right: 200px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.container{
margin: 0;
}

.future_grid {
  height: 20%; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40%;
  justify-content: center;
}

.day_box {
  background: #F2F2F2;
  border-radius: 11.6966px;
  min-height: 100%;
  width: 100%;
  text-align: center;
  padding: 0%;
  overflow: scroll;
}

.day_box::-webkit-scrollbar {
  display: none;
}

.task {
  background: #6A6DCD;
  box-shadow: 0px 2.92414px 5.84828px rgba(0, 0, 0, 0.12), 0px 11.6966px 23.3931px rgba(0, 0, 0, 0.08);
  border-radius: 5.84828px;
  height: 9%;
  padding: 3%;
  margin: 2%;
  margin-top: 0%;
  display: flex;
  align-items: center;
}

.task h3 {
  vertical-align: baseline;
  float: left;
  width: 800px;
  text-align: left;
  font-size: min(1.75rem, 1.5vw);
  margin: 0;
}


.task button {
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  border-radius: 2px;
  vertical-align: auto;
  float: right;
  outline: none;
  cursor: pointer;
  margin-left: auto;
}

.add_button {
  height: 10%;
  width: 30%;
}

.add_button button {
  border-style: none;
  font-family: ABeeZee;
  font-style: italic;
  font-weight: normal;
  padding: 0 5%;
  margin: 0 5%;
  float: left;
  outline: none;
  cursor: pointer;
}


.box {
  width: 200px;
  height: 200px;
  margin-right: 5px;
}

#one{
  position: fixed;
}

.add_button{
  height: 5%;
}

.badge-secondary{
  width: 65px;
  height: 55px;
  font-size: 35px;
  vertical-align: baseline;
  margin-top: 9px;
  float: left;
}
/*border: 1px black solid;*/

h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: min(40px, 3vw);
}

.previous {
  color: #6A6DCD;
  margin-right: 20px;
}

.next {
  color: #6A6DCD;
  margin-left: 20px;
}