* {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 5rem 0;
  
    font-size: 100%;
    line-height: 1.5;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: white;
  }
  
  .container {
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .btn {
    margin: 0;
    padding: 0.1rem 0.4rem;
  
    font: inherit;
    font-size: 0.875rem;
  
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px black;
    border-radius: 0.3rem;
  
    appearance: none;
  }
  
  .btn:disabled {
    opacity: 0.6;
  }
  
  .btn--red {
    color: #b7043d;
  
    box-shadow: 0 0 0 2px #b7043d;
  }
  
  .btn--red:hover {
    color: white;
  
    background-color: #b7043d;
  }
  
  .btn--bg-blue {
    color: white;
  
    background-color: #0954a4;
    border-color: #0954a4;
    box-shadow: 0 0 0 2px #0954a4;
  }
  
  .btn--bg-blue:hover {
    background-color: #064281;
    border-color: #064281;
    box-shadow: 0 0 0 2px #064281;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem;
    padding: 0;
    gap: 1rem;
  
    list-style: none;
  }
  
  .task {
    position: relative;
    z-index: 1;
  
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
  
    background-color: #f1f1f1;
    border-radius: 0.4rem;
  }
  
  .task--done {
    opacity: 0.6;
  }
  
  .task__label {
    display: block;
  }
  
  .task__checkbox {
    display: none;
  }
  
  .task__checkbox-custom {
    display: block;
  
    width: 1rem;
    height: 1rem;
  
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
    border-radius: 0.3rem;
  }
  
  .task__checkbox:checked + .task__checkbox-custom {
    background-color: black;
  }
  
  .task__text {
    margin: 0 1rem;
    flex-grow: 1;
  }
  
  .task__delete {
    margin-left: auto;
  }
  
  .task--done .task__text {
    text-decoration: line-through;
  }
  
  .create-task {
    display: flex;
    flex-direction: column;
  }
  
  .create-task__textarea {
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    resize: none;
  
    font: inherit;
    font-size: 1rem;
  
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
    border-radius: 0.3rem;
  
    margin: 0 0 1rem;
  }
  
  .create-task__submit {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  
    font-size: 1rem;
  }
  