.cld-main{
  width: 100%;
}
.cld-main a{
  color: white;
}

body{
  font-family: Calibri, sans-serif;
  font-family: 'Inter', sans-serif;
  color: #000;
}

  .cld-datetime{
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 101px;
    margin: auto;
    overflow: hidden;
    background: #F8F8F8;
  }
  .cld-datetime .today{
    position: relative;
    float: left;
    top: 45%;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
  }
  .cld-nav{
    position: relative;
    top: 45%;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #666;
  }
  .cld-rwd{
    float: left;
    
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day{
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 5px;
    height: 100px;
    border: 1px solid #ddd;
    overflow-y: auto;
  }
  .cld-day.clickable:hover{
    cursor: pointer;
  }
  .cld-day.today{
    border: 1px solid #7B00FF;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
  .cld-number{
      margin: 0;
      text-align: left;
  }
  .cld-title{
    font-size: 10px;
    display: block;
    margin: 0;
    font-weight: normal;
  }
  .cld-day:hover{
    background: #eee;
  }
  .cld-number.eventday{
    font-weight: bold; 
  }
  .cld-title{
    background: #6A6DCD;
    box-shadow: 0px 2.92414px 5.84828px rgba(0, 0, 0, 0.12), 0px 11.6966px 23.3931px rgba(0, 0, 0, 0.08);
    border-radius: 5.84828px;
    height: 9%;
    padding: 6%;
    margin: 2%;
    margin-top: 5%;
    display: flex;
    align-items: center;
  }
  .cld-number.eventday:hover{
    background: #eee;
  }
  .today .cld-number.eventday:hover{
  }
